<html>
<head>
	<title>Cognits</title>
	<link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="styles/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="styles/styles.css">
</head>
<body>
<!-- navbar Cognits -->
<nav class="navbar  navbar-fixed-top ">
	<div class="container-fluid">
		<ul>
			<li><img src="img/cognits_logo_wht.png" class="img-responsive Cognist"></li>
		</ul>
	</div>
</nav>
	<!-- -->
	<div class = "container-full" id= "fondo" > <!--firts container -->
		<div class="col-md-3"> </div>
		<div class="col-md-6">
		<img src="img/title_intro.png" class="img-responsive" id="posicionImg">
		</div>
		<div class="col-md-3"></div>
	</div> <!--  end firts container-->
	<div class="container-full  text-center"> <!--Second container -->
		<div class="WouldLike">
			<div class = 'row '>
				<h1 class="OurApprenticesTitle">Our apprentices would like to work with you</h1>
			</div>
			<div class = "row ">
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<p class="ParagraphWouldLike">"besides the technical learning, Cognits has also focused on teaching us to be better person , teaching us grat moral values and practices."</p>
					<p>Frank Sam Hu,</p>
				</div>
				<div class="col-md-4">
					<p class="ParagraphWouldLike">"Thank to Cognits Ihave obtained personal and professional victories, I've dreamed more ambitious than before, I have dream and hoal bigger than what one day I thought I would have."</p><p>Jose Alejandro Tamayo</p>
				</div>
				<div class="col-md-2">
					<p class="ParagraphWouldLike">"Cognits has taugh me that the impossible only exists in the mind" </p>
					<p>Kevin Herrera,</p>
				</div>
				<div class="col-md-1"> <img src="img/back_quotes-03.png" class="image image-responsive"></div>
			</div>
		</div> <!--end div wouldlike-->

		<div class="row"> <!--firts row-->
			<h3  class ="TitleSoftware">Software & Desing BPO to help you </h3>
			<h3  class ="TitleSoftware">get the talent you need.</h3>
		</div> <!--end first -->
		<div class="row"><!--Second row-->
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<img src="img/img_prototyping.png">
				<h4>Fast Prototyping</h4>
				<p>From Photoshop to</p>
				<p>working frontend</p>
				<p>website.(Bootstrap,</p>
				<p>Angularjs)</p>
			</div>
			<div class="col-md-3">
				<img src="img/img_ux.png">
				<h4>UX</h4>
				<p>Interface desing for</p>
				<p>mobile and apps, user</p>
				<p>resting and branding</p>
			</div>
			<div class="col-md-3">
				<img src="img/img_frontend.png">
				<h4>Front-End</h4>
				<p>Interface design for</p>
				<p>mobile anda apps, user</p>
				<p>testing and branding</p>
			</div>
			<div class="col-md-1"></div>
		</div> <!--end second row-->
		<div class="container fondo2amarillo">
			<div class="row " id="fondo2centro" >
				<div class="row">
					<div class="col-xs-3 col-md-3"></div>
					<div class="col-xs-12 col-md-4">
						<p id="alturaParrafoDos"> Guatemala provides a privileged location,
						modern infrastructure & strong
						telecumunications.<u><strong>See more here.</strong> </u>
						</p>	
					</div>
					<div class="col-xs-6 col-md-3">
						<img src="img/guate.png" class="img-responsive" id="alturaDos">
					</div>
					<div class="col-xs-2 col-md-2"></div>
				</div>
				<div class="row">
					<div class="col-xs-2 col-md-2"></div>
					<div class="col-xs-6 col-md-3">
						<img src="img/img_teams.png" class="img-responsive " id="altura">
						<br>
					</div>
					<div class="col-xs-12 col-md-4">
						<p id="alturaParrafoUno"> Guatemala provides a privileged location,
						modern infrastructure & strong
						telecumunications.<strong>See more here.</strong> 
						</p>
					</div>
					<div class="col-xs-3 col-md-3"></div>
				</div>
			</div>
		</div><!--end fondo2amarillo-->
		<br/>
		<br/> 
		<div class="row"> <!-- third row--> 
			<h2 class="TitleGray">What's dedicated team?</h2>
			<p>It's full functioning software developing team, that works just for you and your projects</p>
		</div> <!--end third row-->
		<div class="row HowDoesText"> <!--HowDoesText-->
			<h2 class="TitleGray">How does your pricing work?</h2>
			<p>You pay per sprint a developer is active in your project. Prices vary</p>
			<p>between categories of developers.(ej backend vs frontend developer).</p>
			<p>To learn more, contact us at <u><strong>info@cognits.co</strong></u></p>
		</div> <!--end div howDoesText-->
		<div class="row">
			<h2 class="TitleGray">What about long-term contracts?</h2>
			<p>We only use extended contracts when a client reserves developer</p>
			<p>time. there are some cost benefits of reserving developer time, and</p>
			<p>it also guarantees the same guy works in your project long-term.</p>
		</div>

		<div class="container first">
			<div class="row">

				<div class="col-xs-6 col-md-6">
				</div>
				<div class="col-xs-10 col-md-5">
					<img src="img/back_contact1-02.png" class="img-responsive fondo1" alt="Responsive image">
				</div>
				<div class="col-xs-1 col-md-1">
				</div>
			</div>

			<div class="container title">
				<br> 	
				<h1>More questions about Cognits?</h1>
				<h3>Send us an email</h3>
				<button  href="#" class="myButtonMail">info@cognits.co</button>


				<br>
				<br>
			</div>

			<div class="container first">
				<div class="col-xs-1 col-md-1">
				</div>
				<div class="col-xs-10 col-md-11">
					<img src="img/back_contact2-02.png" height="250" width="300" class="img-responsive" alt="Responsive image">
				</div>
			</div>
		</div><!--end div first-->
	</div>  <!--end second container full-->

</body>
<script type="text/javascript" src = "styles/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>

</html>
