* {
  font-family: 'Roboto', sans-serif;
}
.navbar {
  background-color: black;
  margin-bottom: 0px;
  border-bottom: 0px solid black;
}

.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
  margin-right: -5px;
  margin-left: -5px;
}

.navbar .container .navbar-header .navbar-brand {
  background-image: url("../img/cognits_logo_wht.png"), none;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 150px;
  height: 36px;
  padding: 0px;
  text-indent: -9999px;
  margin-left: 0px;
  margin-top: 31px;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/cognits_logo.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='meteor-logo.png', sizingMethod='scale')";
}

.navbar .nav li>a {
  padding: 38px 0px 35px;
  text-transform: uppercase;
  list-style: none;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  color: white;
  margin: 0 15px;
}

.navbar-toggle .icon-bar {
  background-color: black;
}

/*********************************/

section {

}

.home > section {

}

.home > #intro {

  color: white;


}

.home #intro .intro-background-top, .home #intro .intro-background-bottom{
  position: fixed;
  display:block;
}

.home #intro .intro-background-top {
  background: url(../img/back_intro2-02.png) no-repeat;
  height:50%;
  width:20%;
  top: 5%;
  right: 0%;
}

.home #intro .intro-background-bottom {
  background: url(../img/back_intro1-02.png) 50% 0 no-repeat fixed;

}

.home > #intro .jumbotron {
  background-color: transparent;
  padding: 0px;
  background-size: 10%;
}

.home > #intro .btn {
  border-color: #ea362b;
  color: white;
  background-color: #ea362b;
  border-bottom:
}

.home > #intro .btn:hover {
  color: #ea362b;
  background-color: transparent;
}

/**/

#quotes {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color:#3BC4D7;
}

#quotes > blockquote {
  border-left:0;
}

/**/

#services {
  padding-top: 8%;
  padding-bottom: 8%;
}

.home>#value {
  background-color: #70A83B;
  color: white;
}

#value {
  font-size: 28px;
  font-weight: 100;
  padding: 20px;
}
#value>.section-pitch {
  font-size: 36px;
  font-weight: 300;
}

#value .value-list small {
  font-size: 55%;
}

/* FAQ section */
#faq {
  padding-top: 50px;
  padding-bottom: 50px;
}

#faq .qa h4.q {
  font-size: 28px;
  font-weight: 400;
}

#faq .qa p.a {
  font-size: 20px;
  font-weight: 100;
}

#contact {
  padding-top: 10%;
  padding-bottom: 10%;
}

footer {
  padding-top: 40px;
}

@media (max-width: 992px) {
  .navbar .container .navbar-header .navbar-brand {
    margin-top: 15px;
    margin-left: 15px;
    width: 115px;
    height: 28px;
  }

  .intro-content {
    margin-top: 20%;
  }

  .bcg {
      height: 15%;
  }
}


/* PARALLAX  */
/* CSS */

.bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 20%;
    width: 100%;
}
/* Background */
#intro .bcg {
  background-image:url('../img/intro_background.png')
}

.intro-content {
  margin-top: 20%;
}
