* {
  font-family: 'Roboto', sans-serif;
}
.navbar {
  background-color: black;
  margin-bottom: 0px;
  border-bottom: 0px solid black;
}


.navbar .nav li>a {
  padding: 38px 0px 35px;
  text-transform: uppercase;
  list-style: none;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  color: white;
  margin: 0 15px;
}

.navbar-toggle .icon-bar {
  background-color: black;
}


/*------new css-------*/

.Cognist {
  height: 30px;,
  width: 30px;}

.navbar{
  position: static;
}

#fondo{
  background: url(../img/intro_background.png) no-repeat;
  height: 90.80%;
}

#posicionImg{
  margin-top: 20%;

}

.fondo2amarillo{
  background-color: #EED329;
  height: 55%;
}

#fondo2centro{
    background:url(../img/back_yellow.png) no-repeat ;
    height: 100%;
}

#altura{
  margin-top: 180%;
}

#alturaDos{
  margin-top: 20%;
}

#alturaParrafoUno{
   margin-top: 40%;
   text-align: left;
}

#alturaParrafoDos{
   margin-top: 20%;
   text-align: right;
}
